<a href="https://colab.research.google.com/github/manish-4007/Movie-Recommender/blob/main/place_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk

In [ ]:
locs = pd.read_csv('Review_db.csv')
locs

,City,Place,Review,Rating,Name,Date,Raw_Review
0,Aamby Valley City,19 Degree North,aamby valley beautiful place clear blue skies ...,5,Anonymous,NaN,Aamby valley is a beautiful place with its cle...
1,Aamby Valley City,19 Degree North,executed obt akshay thanx team thoroughly enjo...,4,Anonymous,NaN,Very well executed obt by Akshay.... Thanx as ...
2,Aamby Valley City,19 Degree North,awesome experience atv tracts obstacles mainta...,5,Anonymous,NaN,Awesome experience at the ATV\nTracts and obst...
3,Aamby Valley City,19 Degree North,visited aamby valley yesterday short excursion...,4,Anonymous,NaN,we visited the Aamby Valley yesterday for shor...
4,Aamby Valley City,19 Degree North,far mumbai place finest adventure places visit...,5,Anonymous,NaN,"Not far from Mumbai, this place is one of the ..."
...,...,...,...,...,...,...,...
1482461,Zuluk,Zuluk Wildlife Area,zuluk week march mst virgin unexplored region ...,3,Anonymous,NaN,We had been to zuluk in the last week of march...
1482462,Zuluk,Zuluk Wildlife Area,planned visit eastern sikkim time covered stat...,3,Anonymous,NaN,We planned to visit eastern part of Sikkim thi...
1482463,Zuluk,Zuluk Wildlife Area,excellent watched place east sikkim visited pl...,5,Anonymous,NaN,A excellent & must watched place for east sikk...
1482464,Zuluk,Zuluk Wildlife Area,beautiful areas sikkim falls eastern sikkim an...,4,Anonymous,NaN,One of the most beautiful areas in Sikkim... i...
1482465,Zuluk,Zuluk Wildlife Area,warning extremely cold zuluk wife thought aban...,2,Anonymous,NaN,"Warning 1: Its extremely cold at Zuluk, so muc..."

In [ ]:
rating_count =locs.groupby('Place').count()['Rating'].reset_index()
rating_count.rename(columns={'Rating':'No. of rating'},inplace=True)
rating_count

                                        Place  No. of rating
0                              1 MG Lido Mall            107
1                               10 Acres Mall              5
2                          1008 Lingam Temple             90
3                        101 Ft. Hanuman Idol              4
4      108 Feet Height Statue Of Basaveshwara             10
...                                       ...            ...
14489             osian camel and jeep safari             33
14490      shree jayadurgaparameshwari Temple              1
14491                          tour2sundarban              1
14492                       unseen_uttrakhand              1
14493                 vijay laxmi Handicrafts              3

[14494 rows x 2 columns]

In [ ]:
avg_rating=pd.DataFrame(locs.groupby('Place')['Rating'].mean())
avg_rating

                                          Rating
Place
1 MG Lido Mall                          4.261682
10 Acres Mall                           3.200000
1008 Lingam Temple                      4.300000
101 Ft. Hanuman Idol                    4.500000
108 Feet Height Statue Of Basaveshwara  4.000000
...                                          ...
osian camel and jeep safari             4.575758
shree jayadurgaparameshwari Temple      5.000000
tour2sundarban                          5.000000
unseen_uttrakhand                       4.000000
vijay laxmi Handicrafts                 4.333333

[14494 rows x 1 columns]

In [ ]:
locs.drop(columns =['Date','Raw_Review','Name','Rating'], inplace = True)

In [ ]:
locs=locs.merge(rating_count, on='Place')
locs

,City,Place,Review,No. of rating
0,Aamby Valley City,19 Degree North,aamby valley beautiful place clear blue skies ...,17
1,Aamby Valley City,19 Degree North,executed obt akshay thanx team thoroughly enjo...,17
2,Aamby Valley City,19 Degree North,awesome experience atv tracts obstacles mainta...,17
3,Aamby Valley City,19 Degree North,visited aamby valley yesterday short excursion...,17
4,Aamby Valley City,19 Degree North,far mumbai place finest adventure places visit...,17
...,...,...,...,...
1482461,Ziro,Talley Valley Wildlife Sanctuary,beautiful place wild life seeing trekking obse...,6
1482462,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary bio diversity...,6
1482463,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary near ziro san...,6
1482464,Ziro,Talley Valley Wildlife Sanctuary,beautiful virgin forests diverse flora fauna r...,6
1482465,Ziro,Talley Valley Wildlife Sanctuary,wild september day furious downpours rode jeep...,6

In [ ]:
locs=locs.merge(avg_rating, on='Place')
locs

,City,Place,Review,No. of rating,Rating
0,Aamby Valley City,19 Degree North,aamby valley beautiful place clear blue skies ...,17,4.588235
1,Aamby Valley City,19 Degree North,executed obt akshay thanx team thoroughly enjo...,17,4.588235
2,Aamby Valley City,19 Degree North,awesome experience atv tracts obstacles mainta...,17,4.588235
3,Aamby Valley City,19 Degree North,visited aamby valley yesterday short excursion...,17,4.588235
4,Aamby Valley City,19 Degree North,far mumbai place finest adventure places visit...,17,4.588235
...,...,...,...,...,...
1482461,Ziro,Talley Valley Wildlife Sanctuary,beautiful place wild life seeing trekking obse...,6,3.333333
1482462,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary bio diversity...,6,3.333333
1482463,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary near ziro san...,6,3.333333
1482464,Ziro,Talley Valley Wildlife Sanctuary,beautiful virgin forests diverse flora fauna r...,6,3.333333
1482465,Ziro,Talley Valley Wildlife Sanctuary,wild september day furious downpours rode jeep...,6,3.333333

In [ ]:
locs

,City,Place,Review,No. of rating,Rating
0,Aamby Valley City,19 Degree North,aamby valley beautiful place clear blue skies ...,17,4.588235
1,Aamby Valley City,19 Degree North,executed obt akshay thanx team thoroughly enjo...,17,4.588235
2,Aamby Valley City,19 Degree North,awesome experience atv tracts obstacles mainta...,17,4.588235
3,Aamby Valley City,19 Degree North,visited aamby valley yesterday short excursion...,17,4.588235
4,Aamby Valley City,19 Degree North,far mumbai place finest adventure places visit...,17,4.588235
...,...,...,...,...,...
1482461,Ziro,Talley Valley Wildlife Sanctuary,beautiful place wild life seeing trekking obse...,6,3.333333
1482462,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary bio diversity...,6,3.333333
1482463,Ziro,Talley Valley Wildlife Sanctuary,talley valley wildlife sanctuary near ziro san...,6,3.333333
1482464,Ziro,Talley Valley Wildlife Sanctuary,beautiful virgin forests diverse flora fauna r...,6,3.333333
1482465,Ziro,Talley Valley Wildlife Sanctuary,wild september day furious downpours rode jeep...,6,3.333333

In [ ]:
pop_loc=locs[locs['No. of rating']>500].sort_values('Rating',ascending=False)
pop_loc

,City,Place,Review,No. of rating,Rating
570233,Amer,EleSafari,went elephant ride kids visiting india took de...,571,4.898424
569952,Amer,EleSafari,dear guest greetings elesafari thank positive ...,571,4.898424
569942,Amer,EleSafari,dear guest greetings elesafari thank positive ...,571,4.898424
569943,Amer,EleSafari,best experience india tour numerous companies ...,571,4.898424
569944,Amer,EleSafari,dear guest greetings elesafari thank positive ...,571,4.898424
...,...,...,...,...,...
609295,Jaisalmer,Kuldhara Abandoned Village,people said place cursed visited feel like hea...,1105,3.051584
609296,Jaisalmer,Kuldhara Abandoned Village,going village nice judge idea ancient living i...,1105,3.051584
609297,Jaisalmer,Kuldhara Abandoned Village,kuldhara remains houses houses maintained attr...,1105,3.051584
609298,Jaisalmer,Kuldhara Abandoned Village,visit place jaselmer unique guide know history...,1105,3.051584
609114,Jaisalmer,Kuldhara Abandoned Village,location u sam sand dunes jaisalmer city comes...,1105,3.051584

In [ ]:
pop_loc=pop_loc.drop_duplicates()
pop_loc

,City,Place,Review,No. of rating,Rating
570233,Amer,EleSafari,went elephant ride kids visiting india took de...,571,4.898424
569952,Amer,EleSafari,dear guest greetings elesafari thank positive ...,571,4.898424
569943,Amer,EleSafari,best experience india tour numerous companies ...,571,4.898424
569945,Amer,EleSafari,thing notice huge elephants host day went morn...,571,4.898424
569947,Amer,EleSafari,amazing experience new friend tara place exper...,571,4.898424
...,...,...,...,...,...
609295,Jaisalmer,Kuldhara Abandoned Village,people said place cursed visited feel like hea...,1105,3.051584
609296,Jaisalmer,Kuldhara Abandoned Village,going village nice judge idea ancient living i...,1105,3.051584
609297,Jaisalmer,Kuldhara Abandoned Village,kuldhara remains houses houses maintained attr...,1105,3.051584
609298,Jaisalmer,Kuldhara Abandoned Village,visit place jaselmer unique guide know history...,1105,3.051584
609114,Jaisalmer,Kuldhara Abandoned Village,location u sam sand dunes jaisalmer city comes...,1105,3.051584

In [ ]:
places = pop_loc['Place'].unique()
place_review=pd.DataFrame(columns=['Place','Review'])
place_review['Place'] = places
reviews=[]
for place in places:
    st =""
    for item in pop_loc[pop_loc['Place']==place]['Review']:
        st+=item
    reviews.append(st)
place_review['Review'] = reviews

In [ ]:
place_review

,Place,Review
0,EleSafari,went elephant ride kids visiting india took de...
1,Seasonz India,kerala honeymoon week seasonzindia stay lot wo...
2,Elefanjoy Elephant Sanctuary,dear guest thank kind feedback grateful note c...
3,Amer jeep Safari,driver friends nice friendly helpful saw beaut...
4,Rita's Gourmet Goa,reviewers mentioned experience rita real deal ...
...,...,...
614,Bhangarh Fort,heard lot place considered haunted places asia...
615,Jaisalmer War Museum,course proud indian military forces want visit...
616,Jallianwala Bagh,worst trip visitors people visit place like vi...
617,Manikarnika Ghat,place various death rituals place cremation re...
618,Kuldhara Abandoned Village,rtdc trying make location attractable nearby j...

In [ ]:
pop_loc.drop(columns =['Review'], inplace = True)
pop_loc

C:\Users\Acer\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

             City                       Place  No. of rating    Rating
570233       Amer                   EleSafari            571  4.898424
569952       Amer                   EleSafari            571  4.898424
569943       Amer                   EleSafari            571  4.898424
569945       Amer                   EleSafari            571  4.898424
569947       Amer                   EleSafari            571  4.898424
...           ...                         ...            ...       ...
609295  Jaisalmer  Kuldhara Abandoned Village           1105  3.051584
609296  Jaisalmer  Kuldhara Abandoned Village           1105  3.051584
609297  Jaisalmer  Kuldhara Abandoned Village           1105  3.051584
609298  Jaisalmer  Kuldhara Abandoned Village           1105  3.051584
609114  Jaisalmer  Kuldhara Abandoned Village           1105  3.051584

[929104 rows x 4 columns]

In [ ]:
pop_loc = pop_loc.drop_duplicates()

In [ ]:
pop_loc.set_index('Place',inplace = True)
place_review.set_index('Place',inplace=True)
pop_loc['Reviews']=""*pop_loc.shape[0]
for place in pop_loc.index:
    pop_loc.loc[place,'Reviews']=place_review.loc[place,'Review']
pop_loc

C:\Users\Acer\AppData\Local\Temp/ipykernel_15152/1087059819.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_loc['Reviews']=""*pop_loc.shape[0]
C:\Users\Acer\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,City,No. of rating,Rating,Reviews
Place,,,,
EleSafari,Amer,571,4.898424,went elephant ride kids visiting india took de...
Seasonz India,Aluva,1134,4.859788,kerala honeymoon week seasonzindia stay lot wo...
Elefanjoy Elephant Sanctuary,Amer,517,4.843327,dear guest thank kind feedback grateful note c...
Amer jeep Safari,Jaipur,573,4.821990,driver friends nice friendly helpful saw beaut...
Rita's Gourmet Goa,Dabolim,538,4.795539,reviewers mentioned experience rita real deal ...
...,...,...,...,...
Jaisalmer War Museum,Jaisalmer,623,3.296950,course proud indian military forces want visit...
Jallianwala Bagh,Amritsar,3090,3.258576,worst trip visitors people visit place like vi...
Manikarnika Ghat,Varanasi,711,3.135021,place various death rituals place cremation re...
Manikarnika Ghat,Uttarkashi,711,3.135021,place various death rituals place cremation re...
Kuldhara Abandoned Village,Jaisalmer,1105,3.051584,rtdc trying make location attractable nearby j...

In [ ]:
pop_loc.reset_index(inplace=True)
pop_loc

,Place,City,No. of rating,Rating,Reviews
0,EleSafari,Amer,571,4.898424,went elephant ride kids visiting india took de...
1,Seasonz India,Aluva,1134,4.859788,kerala honeymoon week seasonzindia stay lot wo...
2,Elefanjoy Elephant Sanctuary,Amer,517,4.843327,dear guest thank kind feedback grateful note c...
3,Amer jeep Safari,Jaipur,573,4.821990,driver friends nice friendly helpful saw beaut...
4,Rita's Gourmet Goa,Dabolim,538,4.795539,reviewers mentioned experience rita real deal ...
...,...,...,...,...,...
765,Jaisalmer War Museum,Jaisalmer,623,3.296950,course proud indian military forces want visit...
766,Jallianwala Bagh,Amritsar,3090,3.258576,worst trip visitors people visit place like vi...
767,Manikarnika Ghat,Varanasi,711,3.135021,place various death rituals place cremation re...
768,Manikarnika Ghat,Uttarkashi,711,3.135021,place various death rituals place cremation re...
769,Kuldhara Abandoned Village,Jaisalmer,1105,3.051584,rtdc trying make location attractable nearby j...

# Recommend Popular Cities using Collaborating Filter

In [ ]:
pt = pop_loc.pivot_table(index ='City',columns='Place',values='Rating')
pt.fillna(0,inplace=True)
pt

Place,32-km Loop Road,Abbey Falls,Adalaj Step-well,Aga Khan Palace,Agonda Beach,Agra Fort,Ajanta Caves,Akal Takht,Akshardham Temple,Alappuzha Beach,...,Vivekananda Rock Memorial,Water Kingdom,Wayanad Wildlife Sanctuary,White Desert,Wildlife SOS,Wonderla Amusement Park,Worlds of Wonder,Yercaud,Yume Samdong (Zero Point),Yumthang Valley
City,,,,,,,,,,,,,,,,,,,,,
Abhaneri,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Agartala,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Agonda,0.0000,0.0,0.0,0.0,4.630636,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Agra,0.0000,0.0,0.0,0.0,0.000000,4.299533,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.6559,0.0,0.0,0.0,0.0,0.0
Agumbe,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Visakhapatnam (Vizag),0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Vrindavan,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Vypin Island,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Vythiri,0.0000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0
Yercaud,4.3047,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score = cosine_similarity(pt)

In [ ]:
similarity_score.shape

(261, 261)

In [ ]:
def recommend_city(city):
    index = np.where(pt.index==city)[0][0]
    popular_cities = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:11]

    for i in popular_cities:
        print(pt.index[i[0]])

In [ ]:
recommend_city('Vrindavan')

New Delhi
Abhaneri
Agartala
Agonda
Agra
Agumbe
Ahmedabad
Ajanta
Ajmer
Alappuzha

# Place Recommendation using Content based Filtering

In [ ]:
pop_loc

,Place,City,No. of rating,Rating,Reviews
0,EleSafari,Amer,571,4.898424,went elephant ride kids visiting india took de...
1,Seasonz India,Aluva,1134,4.859788,kerala honeymoon week seasonzindia stay lot wo...
2,Elefanjoy Elephant Sanctuary,Amer,517,4.843327,dear guest thank kind feedback grateful note c...
3,Amer jeep Safari,Jaipur,573,4.821990,driver friends nice friendly helpful saw beaut...
4,Rita's Gourmet Goa,Dabolim,538,4.795539,reviewers mentioned experience rita real deal ...
...,...,...,...,...,...
765,Jaisalmer War Museum,Jaisalmer,623,3.296950,course proud indian military forces want visit...
766,Jallianwala Bagh,Amritsar,3090,3.258576,worst trip visitors people visit place like vi...
767,Manikarnika Ghat,Varanasi,711,3.135021,place various death rituals place cremation re...
768,Manikarnika Ghat,Uttarkashi,711,3.135021,place various death rituals place cremation re...
769,Kuldhara Abandoned Village,Jaisalmer,1105,3.051584,rtdc trying make location attractable nearby j...

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer

In [ ]:
ps = PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
pop_loc['Reviews']=pop_loc['Reviews'].apply(stem)

C:\Users\Acer\AppData\Local\Temp/ipykernel_15152/3542632700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_loc['Reviews']=pop_loc['Reviews'].apply(stem)

In [ ]:
pop_loc

,Place,City,No. of rating,Rating,Reviews
0,EleSafari,Amer,571,4.898424,went eleph ride kid visit india took delhi agr...
1,Seasonz India,Aluva,1134,4.859788,kerala honeymoon week seasonzindia stay lot wo...
2,Elefanjoy Elephant Sanctuary,Amer,517,4.843327,dear guest thank kind feedback grate note comp...
3,Amer jeep Safari,Jaipur,573,4.821990,driver friend nice friendli help saw beauti sc...
4,Rita's Gourmet Goa,Dabolim,538,4.795539,review mention experi rita real deal reward da...
...,...,...,...,...,...
765,Jaisalmer War Museum,Jaisalmer,623,3.296950,cours proud indian militari forc want visit ja...
766,Jallianwala Bagh,Amritsar,3090,3.258576,worst trip visitor peopl visit place like visi...
767,Manikarnika Ghat,Varanasi,711,3.135021,place variou death ritual place cremat religi ...
768,Manikarnika Ghat,Uttarkashi,711,3.135021,place variou death ritual place cremat religi ...
769,Kuldhara Abandoned Village,Jaisalmer,1105,3.051584,rtdc tri make locat attract nearbi jaisalm vis...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 10000, stop_words='english')

In [ ]:
vectors = cv.fit_transform(pop_loc['Reviews']).toarray()

In [ ]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 2, 0, ..., 0, 0, 0],
       [0, 2, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
cv.get_feature_names()

['aa',
 'aadi',
 'aam',
 'aarathi',
 'aarati',
 'aarthi',
 'aarti',
 'aartivisit',
 'aback',
 'abadha',
 'abandon',
 'abbey',
 'abbi',
 'abd',
 'abdul',
 'aberdeen',
 'abhada',
 'abhaneri',
 'abhikendu',
 'abhishek',
 'abhishekam',
 'abil',
 'abit',
 'abl',
 'ablut',
 'aboard',
 'abod',
 'abound',
 'abroad',
 'absenc',
 'absent',
 'absolut',
 'absorb',
 'abt',
 'abu',
 'abund',
 'abundantli',
 'abus',
 'abut',
 'abuzz',
 'ac',
 'academ',
 'accent',
 'accept',
 'acces',
 'access',
 'accessori',
 'accid',
 'accident',
 'acclaim',
 'acclimat',
 'accommod',
 'accomod',
 'accompani',
 'accomplish',
 'accord',
 'accordingli',
 'accost',
 'account',
 'accross',
 'accumul',
 'accur',
 'accuraci',
 'ace',
 'acess',
 'ach',
 'achiev',
 'achitectur',
 'acknowledg',
 'acoust',
 'acquaint',
 'acquir',
 'acr',
 'act',
 'action',
 'activ',
 'activa',
 'activit',
 'activitiesnic',
 'activitiesvisit',
 'actor',
 'actual',
 'ad',
 'adalaj',
 'adam',
 'adapt',
 'add',
 'addict',
 'addit',
 'address',
 'adequ',
 'adher',
 'adi',
 'aditya',
 'adjac',
 'adject',
 'adjoin',
 'adjust',
 'adlab',
 'admin',
 'administ',
 'administr',
 'admir',
 'admiss',
 'admist',
 'admit',
 'adn',
 'adob',
 'adopt',
 'ador',
 'adorn',
 'adrenalin',
 'adult',
 'advanc',
 'advantag',
 'advent',
 'adventur',
 'advers',
 'advertis',
 'advic',
 'advis',
 'advisor',
 'aerial',
 'aeroc',
 'aeroplan',
 'aerospac',
 'aesthet',
 'afar',
 'affair',
 'affect',
 'affluent',
 'afford',
 'afghan',
 'afraid',
 'africa',
 'african',
 'afternoon',
 'aga',
 'agar',
 'agara',
 'agartala',
 'age',
 'agenc',
 'agenda',
 'agent',
 'aggress',
 'agni',
 'ago',
 'agonda',
 'agra',
 'agre',
 'agress',
 'agricultur',
 'aguada',
 'agumb',
 'ah',
 'ahead',
 'ahemdabad',
 'ahmadabad',
 'ahmedabad',
 'aibak',
 'aid',
 'aim',
 'aimlessli',
 'air',
 'aircondit',
 'aircraft',
 'airforc',
 'airi',
 'airlin',
 'airplan',
 'airport',
 'airway',
 'ajanta',
 'ajantha',
 'ajay',
 'ajmer',
 'aka',
 'akal',
 'akbar',
 'akin',
 'akshar',
 'akshardam',
 'akshardham',
 'akshaya',
 'al',
 'ala',
 'alai',
 'alakhnath',
 'alappuzha',
 'alarm',
 'albeit',
 'albert',
 'album',
 'alchi',
 'alcohol',
 'alcov',
 'alert',
 'alga',
 'ali',
 'alibaba',
 'alibag',
 'alibaug',
 'alight',
 'align',
 'alik',
 'alipiri',
 'aliv',
 'allah',
 'allahabad',
 'allegedli',
 'allepey',
 'allepi',
 'alleppey',
 'alleppi',
 'alley',
 'alleyway',
 'alli',
 'allig',
 'alll',
 'alloc',
 'allot',
 'allov',
 'allow',
 'allowedbeauti',
 'allowednic',
 'allowedplac',
 'allowedtempl',
 'allowedvisit',
 'allur',
 'almighti',
 'alo',
 'alok',
 'alongsid',
 'alongwith',
 'aloo',
 'alot',
 'alpin',
 'alright',
 'altar',
 'alter',
 'altern',
 'altitud',
 'altogeth',
 'alwar',
 'amalgam',
 'aman',
 'amar',
 'amarnath',
 'amateur',
 'amaz',
 'amazingbeauti',
 'amazingbest',
 'amazinggood',
 'amazinggreat',
 'amazingli',
 'amazingnic',
 'amazingplac',
 'amazingtempl',
 'amazingvisit',
 'amazingw',
 'amba',
 'ambabai',
 'amber',
 'ambianc',
 'ambienc',
 'ambient',
 'ambl',
 'ambul',
 'amd',
 'amen',
 'amer',
 'america',
 'american',
 'amez',
 'amid',
 'amidst',
 'amin',
 'amit',
 'amitabh',
 'amma',
 'amman',
 'ammavari',
 'ammunit',
 'amolak',
 'amphitheat',
 'amphitheatr',
 'ampl',
 'ampli',
 'amrit',
 'amrita',
 'amritsar',
 'amus',
 'amust',
 'amz',
 'anaconda',
 'anand',
 'ananda',
 'anantha',
 'ancestor',
 'ancestr',
 'anchor',
 'ancient',
 'andal',
 'andaman',
 'andheri',
 'andhra',
 'anecdot',
 'anf',
 'angel',
 'anger',
 'angkor',
 'angl',
 'anglican',
 'anglo',
 'angri',
 'ani',
 'anil',
 'anim',
 'animalsvisit',
 'animatron',
 'anjaneya',
 'anjaneyar',
 'anjuna',
 'ankit',
 'ankl',
 'anna',
 'annadana',
 'annex',
 'anniversari',
 'announc',
 'annoy',
 'annual',
 'answer',
 'ant',
 'antelop',
 'anthoni',
 'anthropolog',
 'anti',
 'antic',
 'anticip',
 'antiqu',
 'anxieti',
 'anybodi',
 'anyday',
 'anymor',
 'anytim',
 'aol',
 'ap',
 'apart',
 'apathi',
 'ape',
 'apharwat',
 'aplenti',
 'apollo',
 'apolog',
 'apologis',
 'apostl',
 'app',
 'appal',
 'appar',
 'apparel',
 'appeal',
 'appear',
 'appetit',
 'appl',
 'appli',
 'applic',
 'appoint',
 'appreci',
 'apprehens',
 'appris',
 'approach',
 'appropri',
 'approv',
 'approx',
 'approxim',
 'apprx',
 'appx',
 'apr',
 'april',
 'aprox',
 'apt',
 'aptdc',
 'aptli',
 'aqua',
 'aquamagica',
 'aquarium',
 'aquat',
 'ar',
 'arab',
 'arabian',
 'araku',
 'arambol',
 'arathi',
 'arati',
 'arav',
 'aravali',
 'arc',
 'arcad',
 'arch',
 'archaelog',
 'archaeolog',
 'archana',
 'archeolog',
 'archeri',
 'architechtur',
 'architect',
 'architectur',
 'architecturebeauti',
 'architecturegood',
 'architecturenic',
 'architectureplac',
 'architecturetempl',
 'architecturevisit',
 'architecur',
 'architur',
 'archtectur',
 'archway',
 'arcitectur',
 'ardent',
 'arduou',
 'area',
 'areaamaz',
 'areabeauti',
 'areabest',
 'areagood',
 'areagreat',
 'areal',
 'arealov',
 'areanic',
 'areaplac',
 'areatempl',
 'areavisit',
 'areaw',
 'arena',
 'arent',
 'argu',
 'arguabl',
 'arial',
 'arid',
 'ariel',
 'aris',
 'arjun',
 'arjuna',
 'arm',
 'armi',
 'armor',
 'armori',
 'armour',
 'armouri',
 'arnd',
 'aroma',
 'aroung',
 'arpora',
 'arrang',
 'array',
 'arrest',
 'arriv',
 'arrog',
 'arround',
 'arrow',
 'art',
 'artefact',
 'arteri',
 'arthi',
 'arthur',
 'arti',
 'articl',
 'articul',
 'artifact',
 'artifici',
 'artilleri',
 'artisan',
 'artist',
 'artistri',
 'artitectur',
 'artwork',
 'aru',
 'arun',
 'asaf',
 'ascend',
 'ascent',
 'ash',
 'asham',
 'ashish',
 'ashok',
 'ashoka',
 'ashram',
 'ashwem',
 'asi',
 'asia',
 'asian',
 'asiat',
 'asid',
 'asif',
 'ask',
 'asleep',
 'aslo',
 'asoka',
 'aspect',
 'aspir',
 'assam',
 'assassin',
 'assault',
 'assembl',
 'assess',
 'asset',
 'assi',
 'assign',
 'assist',
 'associ',
 'assort',
 'assum',
 'assur',
 'astonish',
 'astonishingli',
 'astound',
 'astrolog',
 'astronom',
 'astronomi',
 'aswel',
 'ate',
 'atheist',
 'athirap',
 'athirappilli',
 'atleast',
 'atm',
 'atmospher',
 'atmospherevisit',
 'atop',
 'atract',
 'atrium',
 'atroc',
 'attach',
 'attack',
 'attact',
 'attain',
 'attaract',
 'attarct',
 'attempt',
 'attend',
 'attent',
 'attir',
 'attitud',
 'attract',
 'attractiongood',
 'attractionnic',
 'attractionplac',
 'attractionvisit',
 'attribut',
 'atv',
 'audienc',
 'audio',
 'audioguid',
 'auditorium',
 'aug',
 'august',
 'aunt',
 'aur',
 'aura',
 'aurangabad',
 'aurangazeb',
 'aurangzeb',
 'auro',
 'aurobindo',
 'aurovil',
 'auspici',
 'auster',
 'australia',
 'australian',
 'authent',
 'author',
 'authoris',
 'auto',
 'autom',
 'automat',
 'automobil',
 'autorickshaw',
 'autumn',
 'avail',
 'availablebeach',
 'availablebeauti',
 'availablebest',
 'availablegood',
 'availablegreat',
 'availablenic',
 'availableplac',
 'availabletempl',
 'availablevisit',
 'availablew',
 'availbl',
 'avalanch',
 'avatar',
 'avenu',
 'averag',
 'averi',
 'avg',
 'aviari',
 'aviat',
 'avid',
 'avil',
 'avoid',
 'aw',
 'awadh',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'awasom',
 'away',
 'awayvisit',
 'awe',
 'awesom',
 'awesomebeauti',
 'awesomebest',
 'awesomegood',
 'awesomegreat',
 'awesomenic',
 'awesomeplac',
 'awesometempl',
 'awesomevisit',
 'awesomew',
 'awestruck',
 'awesum',
 'awhil',
 'awkward',
 'awsm',
 'awsom',
 'awsum',
 'axi',
 'ayurved',
 'ayurveda',
 'azam',
 'azur',
 'ba',
 'baar',
 'baba',
 'babaji',
 'babi',
 'babu',
 'babulnath',
 'bachchan',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backsid',
 'backward',
 'backwat',
 'backyard',
 'bactrian',
 'bad',
 'bada',
 'badami',
 'bade',
 'badi',
 'badli',
 'badminton',
 'badrinath',
 'bag',
 'baga',
 'baggag',
 'bagh',
 'bagha',
 'bagor',
 'baha',
 'bahadur',
 'bahai',
 'bahu',
 'bahubali',
 'bahÃ¡',
 'bai',
 'baijnath',
 'baisakhi',
 'bajirao',
 'bajji',
 'bajrang',
 'bake',
 'bakeri',
 'bal',
 'bala',
 'balabhadra',
 'balaji',
 'balanc',
 'balaram',
 'balarama',
 'balbhadra',
 'balconi',
 'bali',
 'ball',
 'ballon',
 'balloon',
 'baloon',
 'balram',
 'bamboo',
 'ban',
 'banana',
 'banara',
 'banasura',
 'band',
 'bandhavgarh',
 'bandipur',
 'bandra',
 'bandstand',
 'bang',
 'bangalor',
 'bangalorean',
 'bangaloredear',
 'bangaluru',
 'banganga',
 'bangkok',
 'bangl',
 'bangla',
 'bangladesh',
 'banglor',
 'banjara',
 'bank',
 'bankey',
 'bannerghatta',
 'banquet',
 'banu',
 'banyan',
 'baoli',
 'baori',
 'bap',
 'bapa',
 'bapat',
 'bappa',
 'bapu',
 'bar',
 'bara',
 'barachukki',
 'barasingha',
 'barb',
 'bare',
 'barefoot',
 'bareilli',
 'barg',
 'bargain',
 'bari',
 'bark',
 'baroda',
 'baroqu',
 'barrack',
 'barrag',
 'barren',
 'barricad',
 'barrier',
 'barter',
 'basalt',
 'basanti',
 'basavanagudi',
 'base',
 'basecamp',
 'basement',
 'bash',
 'basi',
 'basic',
 'basilica',
 'basin',
 'bask',
 'basket',
 'bastion',
 'bat',
 'batasia',
 'batch',
 'bath',
 'bather',
 'batheri',
 'bathroom',
 'batter',
 'batteri',
 'battl',
 'battlement',
 'baug',
 'bay',
 'bazaar',
 'bazar',
 'bazzar',
 'bbsr',
 'bc',
 'bce',
 'bcoz',
 'bcz',
 'bea',
 'beach',
 'beachbaga',
 'beachbeach',
 'beachbeauti',
 'beachbest',
 'beachclean',
 'beachcrowd',
 'beachesbeach',
 'beachfront',
 'beachgood',
 'beachgreat',
 'beachkovalam',
 'beachlik',
 'beachlov',
 'beachnic',
 'beachplac',
 'beachreal',
 'beachsid',
 'beachvisit',
 'beachwent',
 'beacus',
 'bead',
 'beam',
 'bean',
 'bear',
 'bearabl',
 'beast',
 'beat',
 'beaten',
 'beati',
 'beatiful',
 'beatl',
 'beaut',
 'beauti',
 'beautif',
 'beautifi',
 'beautiful',
 'beautifulamaz',
 'beautifulbeauti',
 'beautifulbest',
 'beautifulexcel',
 'beautifulgood',
 'beautifulgreat',
 'beautifullik',
 'beautifullov',
 'beautifulnic',
 'beautifulplac',
 'beautifulr',
 'beautifultempl',
 'beautifulvisit',
 'beautifulw',
 'beauty',
 'beautybeauti',
 'beautygood',
 'beautygreat',
 'beautylov',
 'beautynic',
 'beautyplac',
 'beautyvisit',
 'beautyw',
 'beawar',
 'becar',
 'beckon',
 'becoz',
 'becuas',
 'bed',
 'bedroom',
 'bee',
 'beech',
 'beer',
 'befit',
 'befor',
 'beg',
 'bega',
 'began',
 'beggar',
 'begger',
 'begin',
 'beginn',
 'begum',
 'begun',
 'behalf',
 'behav',
 'behavior',
 'behaviour',
 'behold',
 'bekal',
 'beleiv',
 'belgian',
 'belgium',
 'belief',
 'believ',
 'beliv',
 'bell',
 'belli',
 'belong',
 'belov',
 'belt',
 'belur',
 'ben',
 'benar',
 'benara',
 'benaulim',
 'bench',
 'bend',
 'beneath',
 'benefactor',
 'benefici',
 'benefit',
 'benevol',
 'bengal',
 'bengali',
 'bengaluru',
 'bent',
 'berijam',
 'besan',
 'besant',
 'best',
 'bestbeauti',
 'bestbest',
 'bestest',
 'bestgood',
 'bestnic',
 'bestow',
 'bestplac',
 'besttempl',
 'bestvisit',
 'bet',
 'betaab',
 'betab',
 'better',
 'betterbeauti',
 'bettergood',
 'betternic',
 'betterplac',
 'bettervisit',
 'betterw',
 'beuti',
 'beutiful',
 'beverag',
 'bewar',
 'beyt',
 'bful',
 'bhagavathi',
 'bhagsu',
 'bhagsunag',
 'bhagsunath',
 'bhagvan',
 'bhagwan',
 'bhai',
 'bhait',
 'bhajan',
 'bhaji',
 'bhajiya',
 'bhajji',
 'bhakri',
 'bhakt',
 'bhakta',
 'bhakti',
 'bhangarh',
 'bharat',
 'bharatpur',
 'bhasm',
 'bhasma',
 'bhavan',
 'bhavani',
 'bhawan',
 'bhedaghat',
 'bheem',
 'bhel',
 'bhelpuri',
 'bhet',
 'bhi',
 'bhim',
 'bhima',
 'bhimashankar',
 'bhimbetka',
 'bhimtal',
 'bhog',
 'bhoga',
 'bhoj',
 'bhool',
 'bhopal',
 'bhrama',
 'bhubaneshwar',
 'bhubaneswar',
 'bhubneshwar',
 'bhuj',
 'bhul',
 'bhulaiya',
 'bhulbhulaiya',
 'bhutt',
 'bhutta',
 'bi',
 'bia',
 'bias',
 'bibi',
 'bicycl',
 'bid',
 'bidadi',
 'big',
 'bigger',
 'biggest',
 'bihar',
 'bihari',
 'bikan',
 'bike',
 'biker',
 'bikini',
 'billion',
 'bilwa',
 'bin',
 'bind',
 ...]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity[0]

array([1.        , 0.33365503, 0.80840187, 0.39787688, 0.3186773 ,
       0.40079548, 0.40079548, 0.40079548, 0.40966876, 0.28314729,
       0.42336726, 0.19015646, 0.37830982, 0.40670547, 0.31707002,
       0.30607495, 0.15940777, 0.33741959, 0.42688441, 0.33232311,
       0.26630059, 0.61926938, 0.61926938, 0.37874583, 0.42855036,
       0.81965811, 0.16525316, 0.31322784, 0.25162151, 0.22221348,
       0.27238441, 0.26577507, 0.35193082, 0.29459297, 0.23684059,
       0.15422238, 0.16540391, 0.29998781, 0.39228176, 0.13227639,
       0.28813088, 0.34157858, 0.36524078, 0.19957256, 0.19848634,
       0.27486279, 0.13274381, 0.13918857, 0.3212498 , 0.26565942,
       0.14238668, 0.14915201, 0.14350588, 0.37232856, 0.262878  ,
       0.23092288, 0.29907281, 0.21100797, 0.31428787, 0.30806432,
       0.25521459, 0.33773643, 0.15365004, 0.21875182, 0.21875182,
       0.21875182, 0.20110296, 0.21357529, 0.22758964, 0.22758964,
       0.22758964, 0.22758964, 0.15563846, 0.22688502, 0.33033105,
       0.33033105, 0.25442306, 0.19240917, 0.36071972, 0.31785859,
       0.31652498, 0.27667161, 0.27667161, 0.16569021, 0.22050751,
       0.33628   , 0.17664891, 0.33177706, 0.33177706, 0.1738811 ,
       0.14533797, 0.20644184, 0.19843129, 0.21559622, 0.29153068,
       0.27619547, 0.2045922 , 0.31238866, 0.28210109, 0.15177369,
       0.20216645, 0.15160689, 0.15160689, 0.20669737, 0.32047534,
       0.30417109, 0.17446173, 0.30162618, 0.30162618, 0.31134538,
       0.15714262, 0.17357584, 0.2626606 , 0.26093933, 0.17882169,
       0.27444057, 0.13160394, 0.28766785, 0.16929721, 0.22233727,
       0.30395636, 0.17116115, 0.17116115, 0.17116115, 0.17622476,
       0.28708387, 0.1836191 , 0.27185195, 0.27648817, 0.30159412,
       0.16649087, 0.2725043 , 0.1864966 , 0.13790296, 0.16736999,
       0.16736999, 0.18998245, 0.19746269, 0.3008853 , 0.20823878,
       0.20823878, 0.16489427, 0.21949321, 0.30960299, 0.17960335,
       0.287428  , 0.16860275, 0.18482332, 0.18482332, 0.18482332,
       0.19008435, 0.27659802, 0.24105   , 0.25893497, 0.20710433,
       0.25364375, 0.30999097, 0.27712682, 0.22378885, 0.27488962,
       0.27488962, 0.27488962, 0.25011794, 0.21390297, 0.28284626,
       0.2946515 , 0.21569005, 0.30392459, 0.30764079, 0.16993512,
       0.17134149, 0.27793652, 0.22894151, 0.17830656, 0.2895901 ,
       0.3478383 , 0.25800849, 0.14123952, 0.16177423, 0.16923927,
       0.2653714 , 0.1803072 , 0.24674351, 0.19129419, 0.19456642,
       0.3443285 , 0.16643819, 0.23919498, 0.44135581, 0.2953153 ,
       0.25211027, 0.29187434, 0.1848383 , 0.23807318, 0.24918718,
       0.19099081, 0.19099081, 0.25757918, 0.24780825, 0.24780825,
       0.24780825, 0.19304608, 0.34592133, 0.16793702, 0.24800305,
       0.31913524, 0.18955069, 0.1942576 , 0.20070546, 0.2013876 ,
       0.17652052, 0.24168739, 0.23204274, 0.2145213 , 0.29542063,
       0.18719876, 0.16731983, 0.18881337, 0.21034572, 0.31038197,
       0.19456137, 0.17723819, 0.27957335, 0.23412049, 0.25239429,
       0.18691612, 0.2832053 , 0.1624165 , 0.27954013, 0.18216928,
       0.2656546 , 0.19506022, 0.1552686 , 0.21659769, 0.23210996,
       0.17011421, 0.17763678, 0.28526322, 0.27701486, 0.24887631,
       0.27802337, 0.25549515, 0.18635799, 0.22468751, 0.31132511,
       0.32423241, 0.19891559, 0.22303404, 0.14903602, 0.17823931,
       0.22240615, 0.17124599, 0.24773489, 0.17587475, 0.2885068 ,
       0.29161224, 0.25977716, 0.23775459, 0.21684367, 0.20425985,
       0.17310176, 0.17310176, 0.17310176, 0.17310176, 0.17310176,
       0.17310176, 0.30635581, 0.13987923, 0.20666055, 0.28071432,
       0.18726798, 0.25159271, 0.21794562, 0.32016814, 0.21979569,
       0.22451321, 0.13445769, 0.20684494, 0.2752623 , 0.16111418,
       0.23557207, 0.23557207, 0.23557207, 0.23557207, 0.23557207,
       0.23557207, 0.23557207, 0.21221847, 0.19998599, 0.18037217,
       0.16075296, 0.22353722, 0.23624617, 0.22823498, 0.24068553,
       0.18692381, 0.22656187, 0.1806717 , 0.19834265, 0.19410058,
       0.19410058, 0.19410058, 0.21019252, 0.234585  , 0.24359889,
       0.16358919, 0.34702865, 0.29321133, 0.22704999, 0.22882361,
       0.18767696, 0.20352066, 0.2367874 , 0.22585112, 0.17011998,
       0.17011998, 0.17702506, 0.25544444, 0.25021539, 0.23128472,
       0.21630253, 0.18057415, 0.26566805, 0.18432877, 0.24673283,
       0.28635208, 0.20392018, 0.20392018, 0.20392018, 0.20392018,
       0.26815581, 0.17844399, 0.23132313, 0.20845581, 0.29266384,
       0.23098078, 0.15523633, 0.18382878, 0.25121604, 0.27005243,
       0.2107611 , 0.16308355, 0.26741313, 0.26966309, 0.26887261,
       0.30684612, 0.29464712, 0.17969968, 0.23635522, 0.15557548,
       0.2150528 , 0.18428364, 0.18640426, 0.27341843, 0.30981464,
       0.22637589, 0.22637589, 0.22637589, 0.27142806, 0.15434947,
       0.20836926, 0.22976027, 0.23132235, 0.28876587, 0.22046977,
       0.24453811, 0.18935891, 0.21645187, 0.22915491, 0.21387912,
       0.2889789 , 0.18991577, 0.20658782, 0.29967594, 0.13955261,
       0.18861126, 0.20215049, 0.21666405, 0.23093442, 0.29063714,
       0.30707647, 0.18442778, 0.18442778, 0.18442778, 0.18442778,
       0.19159106, 0.21930966, 0.26328586, 0.25024484, 0.34845425,
       0.27485101, 0.18139856, 0.19439145, 0.14522517, 0.14522517,
       0.14522517, 0.24792222, 0.20425184, 0.20425184, 0.20425184,
       0.20425184, 0.20425184, 0.24831766, 0.25633768, 0.29934245,
       0.2052929 , 0.19354597, 0.1617157 , 0.23667219, 0.32899025,
       0.2880892 , 0.24482449, 0.27582478, 0.25260953, 0.16630637,
       0.2216104 , 0.18929358, 0.50643298, 0.25460856, 0.24181378,
       0.29226274, 0.23525706, 0.24683396, 0.24683396, 0.15953203,
       0.24995867, 0.17586916, 0.22755961, 0.22755961, 0.22755961,
       0.20004102, 0.20004102, 0.20004102, 0.15492036, 0.18763815,
       0.15195634, 0.15195634, 0.15195634, 0.22753208, 0.2707844 ,
       0.27549755, 0.15030677, 0.25533461, 0.16314224, 0.15436736,
       0.17320792, 0.26641197, 0.23340279, 0.19577999, 0.23748093,
       0.21232168, 0.20514294, 0.16845522, 0.16845522, 0.25151607,
       0.23586362, 0.26109925, 0.18782569, 0.28477277, 0.27101733,
       0.18724309, 0.18724309, 0.27867605, 0.3092418 , 0.23909783,
       0.18521727, 0.24864327, 0.21564953, 0.15331546, 0.32625397,
       0.25521055, 0.22048077, 0.22377468, 0.1619253 , 0.20603712,
       0.30461406, 0.18592056, 0.15703371, 0.15703371, 0.24542294,
       0.21114669, 0.19829551, 0.25204184, 0.29538367, 0.16984221,
       0.19175046, 0.20829616, 0.20829616, 0.23386195, 0.23566395,
       0.21369086, 0.21369086, 0.21369086, 0.21369086, 0.21369086,
       0.21369086, 0.26638587, 0.26638587, 0.26638587, 0.26638587,
       0.26638587, 0.26638587, 0.26638587, 0.26638587, 0.26638587,
       0.26638587, 0.26638587, 0.26638587, 0.18543607, 0.19493274,
       0.12906553, 0.21249714, 0.11635334, 0.28415286, 0.17985272,
       0.23052057, 0.27176764, 0.32258791, 0.11439481, 0.3436598 ,
       0.11797865, 0.15235062, 0.28802219, 0.22434591, 0.20916306,
       0.19919503, 0.25994556, 0.25292855, 0.20220783, 0.17837137,
       0.21883505, 0.2225629 , 0.207621  , 0.15692217, 0.20125469,
       0.23022389, 0.18300798, 0.18300798, 0.18300798, 0.18300798,
       0.22160297, 0.22160297, 0.22160297, 0.19459665, 0.23374794,
       0.19078271, 0.17089313, 0.21036094, 0.23230146, 0.2196832 ,
       0.28667971, 0.17946073, 0.2366343 , 0.21738388, 0.23471438,
       0.23252164, 0.31396592, 0.19788946, 0.1592079 , 0.1592079 ,
       0.1592079 , 0.1592079 , 0.24595857, 0.14737151, 0.21929166,
       0.20832587, 0.14183305, 0.20508675, 0.19406153, 0.26706252,
       0.26706553, 0.26706553, 0.26706553, 0.26706553, 0.26706553,
       0.26706553, 0.26706553, 0.26706553, 0.26706553, 0.26706553,
       0.26706553, 0.26706553, 0.26706553, 0.26706553, 0.24756835,
       0.20827523, 0.2681068 , 0.16917986, 0.13501429, 0.20856241,
       0.18711704, 0.20903604, 0.22516716, 0.2101323 , 0.12414445,
       0.17441668, 0.17441668, 0.17441668, 0.17441668, 0.17441668,
       0.29022023, 0.15191151, 0.15191151, 0.18923525, 0.22573867,
       0.1782007 , 0.19508687, 0.21446929, 0.20431233, 0.23064863,
       0.16426259, 0.20683018, 0.20683018, 0.28173918, 0.19839401,
       0.26236495, 0.26236495, 0.26236495, 0.26236495, 0.23158987,
       0.16832704, 0.20086343, 0.24457006, 0.19317295, 0.19317295,
       0.19317295, 0.19317295, 0.19317295, 0.19317295, 0.19317295,
       0.19317295, 0.19317295, 0.19317295, 0.19317295, 0.19317295,
       0.19317295, 0.19317295, 0.27328956, 0.19026375, 0.23086047,
       0.18667627, 0.31989931, 0.29573858, 0.20319245, 0.20319245,
       0.1192039 , 0.3020934 , 0.17455938, 0.26287404, 0.17172977,
       0.17172977, 0.17172977, 0.17172977, 0.15778776, 0.19265173,
       0.19265173, 0.18937073, 0.15098468, 0.26100608, 0.17111457,
       0.18272507, 0.24657644, 0.19532029, 0.21387177, 0.21387177,
       0.16564957, 0.16564957, 0.25032148, 0.28335622, 0.26048223,
       0.27723322, 0.19991699, 0.22572969, 0.22572969, 0.23510905,
       0.22925344, 0.24560104, 0.24756662, 0.19999976, 0.14500809,
       0.25344756, 0.25344756, 0.25965677, 0.25965677, 0.25965677,
       0.22652112, 0.25187581, 0.30612067, 0.28100658, 0.19233717,
       0.14082732, 0.14082732, 0.14082732, 0.18688525, 0.25957591,
       0.21204271, 0.39773752, 0.3052391 , 0.36673676, 0.14614263,
       0.14614263, 0.14614263, 0.14614263, 0.14614263, 0.14614263,
       0.14614263, 0.14614263, 0.14614263, 0.14614263, 0.14614263,
       0.20639359, 0.2174428 , 0.1818922 , 0.1818922 , 0.16657293,
       0.24533484, 0.19721002, 0.27398639, 0.39436906, 0.2744518 ,
       0.34632624, 0.25639401, 0.33950437, 0.33950437, 0.33950437,
       0.19109286, 0.23432458, 0.18643589, 0.23296333, 0.21643312,
       0.17457453, 0.18204142, 0.26390988, 0.22323453, 0.14765443,
       0.24835098, 0.34529635, 0.18609443, 0.16665317, 0.30237836,
       0.30237836, 0.20032673, 0.23559339, 0.17303059, 0.14077291,
       0.26038161, 0.25054892, 0.19385879, 0.17705451, 0.18693865,
       0.18561711, 0.20099403, 0.21167823, 0.28075051, 0.27854965,
       0.18018763, 0.20573909, 0.16650218, 0.37711315, 0.21874144,
       0.25820774, 0.25820774, 0.2070622 , 0.19972641, 0.29924142,
       0.1948516 , 0.26318575, 0.19071451, 0.19071451, 0.23662874])

In [ ]:
def recommend_place(place):
    place_index = pop_loc[pop_loc['Place']==place].index[0]
    distances = similarity[place_index]
    similar_places = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    for i in similar_places:
        print(pop_loc.iloc[i[0]].Place + " - " + pop_loc.iloc[i[0]].City)

In [ ]:
recommend_place("Science City")

Visvesvaraya Industrial and Technological Museum - Bengaluru
Innovative Film City - Bengaluru
Eco Tourism Park - Kolkata
Shilparamam Cultural Society - Hyderabad
Art of Living International Center - Bengaluru
Kankaria Lake - Ahmedabad
NTR Garden - Hyderabad
Cubbon Park - Bengaluru
Ramoji Film City - Hyderabad
Raja's Tomb - Madikeri

In [ ]:
pop_loc[pop_loc['City']=="Kolkata"]

,Place,City,No. of rating,Rating,Reviews
9,Nicco Parks & Resorts Limited,Kolkata,750,4.764000,nicco park park lot fun fill ride enjoy person...
85,Eco Tourism Park,Kolkata,895,4.471508,good locat spend time famili photographi good ...
97,Prinsep Ghat,Kolkata,633,4.458136,nice time flow river ganga gentl breez quit fo...
138,Victoria Memorial Hall,Kolkata,4160,4.408173,build ground beauti impress histor timelin art...
202,Science City,Kolkata,722,4.357341,scienc citi nice centr learn scienc young one ...
224,St. Paul's Cathedral,Kolkata,504,4.339286,excel place peac mind organis carniv period at...
251,Eden Gardens,Kolkata,1310,4.319847,month went friend watch final wonder experi st...
402,Mother House,Kolkata,1272,4.213050,great place visit true peac place place symbol...
438,Park Street,Kolkata,1960,4.183163,good place shop westsid pantaloon major brand ...
471,Dakshineswar Kali Temple,Kolkata,2694,4.164068,go said templ absentmind decis go place consec...
490,St. John's Church,Kolkata,544,4.139706,nice campu surround cover lot greeneri nice pl...
601,Howrah Bridge,Kolkata,2765,4.054250,earlier visit kolkata went howrah bridg even t...
657,College Street (Boi Para),Kolkata,770,4.007792,tourist spot student paradis guess student kol...
667,Indian Museum (Jadu Ghar),Kolkata,850,3.995294,beauti build allow fall disrepair exhibit filt...
734,Metro Railway,Kolkata,912,3.890351,mean transport citi fun ride terribl crowd noi...
743,New Market,Kolkata,748,3.872995,new market look like mix janpath lajpat nagar ...
763,Kalighat Kali Temple,Kolkata,760,3.567105,local tout goon incompet polic personnel man h...